<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

    <title>¡Bienvenido a Mercado Liebre!</title>
</head>
<body>
    <header>
        <div class="header-overall">
            <div class="logo-ml">
                <img src="/images/logo-mercado-liebre.svg" class="responsive">
            </div>
            <div class="form" action="#" method="GET">
                <div> <input type="search" name="buscar" placeholder="Buscar productos, marcas..."> </div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <p> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito </p> <br>
        </div>

        <nav>
            <div>
                <ul>
                    <li> <a href="#"> Ofertas </a> </li>
                    <li> <a href="#"> Tiendas Oficiales </a> </li>
                    <li> <a href="#"> Vender </a> </li>
                    <li> <a href="#"> Ayuda </a> </li>
                </ul>
            </div> 
            <div>
                <ul>
                    <li> <a href="/register"> Creá tu cuenta </a>  <i class="fa-solid fa-id-card"></i>  </li>
                    <li> <a href="/login"> Ingresá </a>  <i class="fa-solid fa-arrow-right-to-bracket"></i>  </li>
                    <li> <a href="#"> Mis compras  </a> <i class="fa-solid fa-basket-shopping"></i> </li>
                </ul>
            </div>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div> <br>

        </nav>

    </header>

    <section> <img src="/images/img-home-banner.jpg" class="responsive"> </section>

    <main class="main-box">
        <section>
            <h2> Basado en tu última visita </h2> <br>
                <article class="article-margin">
                    <img src="/images/img-cafetera-moulinex.jpg" class="responsive">
                    <div class="article-card">
                        <div class="truck-alignment">
                        <span class="fa-stack" style="vertical-align: top;">
                            <i class="fa-regular fa-circle fa-stack-2x"></i>
                            <i class="fa-solid fa-truck fa-stack-1x"></i>
                        </span>
                        </div>
                        <p id="precios"> $6.770 </p>
                        <p id="descuentos"> 40% OFF </p>
                        <b class="descripciones"> Cafetera Moulinex </b>
                    </div>
                </article>

                <article class="article-margin">
                    <img src="/images/img-macbook-pro-2019.jpg" class="responsive">
                    <div class="article-card">
                        <div class="truck-alignment">
                        <span class="fa-stack" style="vertical-align: top;">
                            <i class="fa-regular fa-circle fa-stack-2x"></i>
                            <i class="fa-solid fa-truck fa-stack-1x"></i>
                        </span>
                        </div>
                        <p id="precios"> $230.000 </p>
                        <p id="descuentos"> 20% OFF </p>
                        <b class="descripciones"> MacBook Pro 2019 </b>
                    </div>
                </article>

                <article class="article-margin">
                    <img src="/images/img-samsung-galaxy-s10.jpg" class="responsive">
                    <div class="article-card">
                        <div class="truck-alignment">
                        <span class="fa-stack" style="vertical-align: top;">
                            <i class="fa-regular fa-circle fa-stack-2x"></i>
                            <i class="fa-solid fa-truck fa-stack-1x"></i>
                        </span>
                        </div>
                        <p id="precios"> $70.500 </p>
                        <p id="descuentos"> 10% OFF </p>
                        <b class="descripciones"> Samsung Galaxy S10 </b>
                    </div>
                </article>

                <article class="article-margin">
                    <img src="/images/img-tv-samsung-smart.jpg" class="responsive">
                    <div class="article-card">
                        <div class="truck-alignment">
                        <span class="fa-stack" style="vertical-align: top;">
                            <i class="fa-regular fa-circle fa-stack-2x"></i>
                            <i class="fa-solid fa-truck fa-stack-1x"></i>
                        </span>
                        </div>
                        <p id="precios"> $23.200 </p>
                        <p id="descuentos"> 5% OFF </p>
                        <b class="descripciones"> SmartTv Samsung 43" </b>
                    </div>
                </article>
        </section> <br>

        <section>
            <h2> Sección de Ofertas </h2> <br>
                <article class="article-margin">
                    <img src="/images/img-cafetera-moulinex.jpg" class="responsive">
                    <div class="article-card">
                        <div class="truck-alignment">
                        <span class="fa-stack" style="vertical-align: top;">
                            <i class="fa-regular fa-circle fa-stack-2x"></i>
                            <i class="fa-solid fa-truck fa-stack-1x"></i>
                        </span>
                        </div>
                        <p id="precios"> $6.770 </p>
                        <p id="descuentos"> 40% OFF </p>
                        <b class="descripciones" > Cafetera Moulinex </b>
                    </div>
                </article>

                <article class="article-margin">
                    <img src="/images/img-macbook-pro-2019.jpg" class="responsive">
                    <div class="article-card">
                        <div class="truck-alignment">
                        <span class="fa-stack" style="vertical-align: top;">
                            <i class="fa-regular fa-circle fa-stack-2x"></i>
                            <i class="fa-solid fa-truck fa-stack-1x"></i>
                        </span>
                        </div>
                        <p id="precios"> $230.000 </p>
                        <p id="descuentos"> 20% OFF </p>
                        <b class="descripciones"> MacBook Pro 2019 </b>
                    </div>
                </article>

                <article class="article-margin">
                    <img src="/images/img-samsung-galaxy-s10.jpg" class="responsive">
                    <div class="article-card">
                        <div class="truck-alignment">
                        <span class="fa-stack" style="vertical-align: top;">
                            <i class="fa-regular fa-circle fa-stack-2x"></i>
                            <i class="fa-solid fa-truck fa-stack-1x"></i>
                        </span>
                        </div>
                        <p id="precios"> $70.500 </p>
                        <p id="descuentos"> 10% OFF </p>
                        <b class="descripciones"> Samsung Galaxy S10 </b>
                    </div>
                </article>

                <article class="article-margin">
                    <img src="/images/img-tv-samsung-smart.jpg" class="responsive">
                    <div class="article-card">
                        <div class="truck-alignment">
                        <span class="fa-stack" style="vertical-align: top;">
                            <i class="fa-regular fa-circle fa-stack-2x"></i>
                            <i class="fa-solid fa-truck fa-stack-1x"></i>
                        </span>
                        </div>
                        <p id="precios"> $23.200 </p>
                        <p id="descuentos"> 5% OFF </p>
                        <b class="descripciones"> SmartTv Samsung 43" </b>
                    </div>
                </article>
        </section>
    </main><br>

    <footer>
        <section>
            <div class="credit-card-icon">
                <i class="fa-solid fa-credit-card"></i>
            </div>
            <p class="footer-headers">Pagá con tarjeta o en efectivo</p>
            <p class="footer-p"> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section> 

        <section>
            <div class="gift-icon">
                <i class="fa-solid fa-gift"></i>
            </div>
            <p class="footer-headers">Envío gratis desde $ 2.500</p>
            <p class="footer-p"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <div class="user-shield-icon">    
                <i class="fa-solid fa-user-shield"></i>
            </div>
            <p class="footer-headers">Seguridad, de principio a fin</p>
            <p class="footer-p"> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section> 

        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>
</body>
</html>