/* Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; */

*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

header{
    background-color: #EAC926;
}

header p{
    text-align: center;
    font-size: 12px;
}

header div.logo-ml,
header .form{
    width: 50%;
}

header div.logo-ml{
    padding: 10px;
}
header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}
header nav{
    font-size: 12px;
    margin-left: 20px;
}

div.header-overall{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

nav ul{
    list-style-type: none;
    padding: 0;
    display: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}

body{
    font-family: Roboto;
    background-color: #ebebeb;
}

/* p {
    font-size: 12px;
} */

h2{
    font-size: 24px;
}

footer{
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
}

#precios{
    font-size: 18px;
}

#descuentos{
    font-size: 16px;
}

.descripciones{
    font-size: 16px;
    display: none;
}

.burger-menu{
    text-align: center;
}

.fa-bars{
    color: white;
    padding: 8px 8px;
    background-color: #1259c3;
    border-radius: 4px;
}

.footer-headers{
    font-size: 18px;
    font-weight: bold;
    color: #666;
    text-align: center;
    margin-bottom: 5px;
}

#footer-p{
    font-size: 12px;
    color: #666;
    text-align: center;
    margin-bottom: px;
}

.responsive{
    width: 100%;
    height: auto;
}

.user-shield-icon{
    text-align: center;
}


.fa-user-shield{
    color: #1259c3;
    font-size: 2em; 
    margin-bottom: 10px;
}

.gift-icon{
    text-align: center;
}

.fa-gift{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}


.credit-card-icon{
    text-align: center;
}

.fa-credit-card{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;    
}

.fa-truck{
    color: #39b54a;
    /* border: solid 1px #39b54a;
    border-radius: 50%;
    width: 40px;
    height: 40px; */
}

.fa-circle{
    color: #39b54a;
}

.main-box{
    width: 90%;
    margin: 0 auto;
}

.truck-alignment{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    /*border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;*/
    position: absolute;
    right: 20px;
    top: -15px;
   }

   
.article-margin{
    margin-bottom: 10px;
}

.article-card{
    width: 100%;
    border: solid 1px #ebebeb;
    padding: 15px;
    background-color: white;
}

.hideme{
    display: none;
}



@media (min-width: 361px){
    header div.top-header{
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    header nav{
        display: flex;
        justify-content: space-between;
    }

    header nav ul{
        display: flex;
    }

    div.burger-menu{
        display: none;
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }

    .descripciones{
        display:block;
    };

}

@media (min-width: 769px) {
    

    .fa-bars{
        display: none;
    }
}